@font-face {
    font-family: 'Baloo';
    src: url('Baloo.eot');
    src: url('Baloo.eot?#iefix') format('embedded-opentype'),
        url('Baloo.woff') format('woff'),
        url('Baloo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo';
    src: url('Baloo_1.eot');
    src: url('Baloo_1.eot?#iefix') format('embedded-opentype'),
        url('Baloo_1.woff') format('woff'),
        url('Baloo_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaA-Bold.eot');
    src: url('ProximaNovaA-Bold.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Bold.woff') format('woff'),
        url('ProximaNovaA-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaA-Bold_1.eot');
    src: url('ProximaNovaA-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Bold_1.woff') format('woff'),
        url('ProximaNovaA-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baloo';
    src: url('Baloo_2.eot');
    src: url('Baloo_2.eot?#iefix') format('embedded-opentype'),
        url('Baloo_2.woff') format('woff'),
        url('Baloo_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaA-Light.eot');
    src: url('ProximaNovaA-Light.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Light.woff') format('woff'),
        url('ProximaNovaA-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaA-Bold_2.eot');
    src: url('ProximaNovaA-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Bold_2.woff') format('woff'),
        url('ProximaNovaA-Bold_2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaA-Thin.eot');
    src: url('ProximaNovaA-Thin.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Thin.woff') format('woff'),
        url('ProximaNovaA-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Black.eot');
    src: url('ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Black.woff') format('woff'),
        url('ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaA-Thin_1.eot');
    src: url('ProximaNovaA-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Thin_1.woff') format('woff'),
        url('ProximaNovaA-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Black_1.eot');
    src: url('ProximaNova-Black_1.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Black_1.woff') format('woff'),
        url('ProximaNova-Black_1.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaA-Light_1.eot');
    src: url('ProximaNovaA-Light_1.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Light_1.woff') format('woff'),
        url('ProximaNovaA-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaA-Light_2.eot');
    src: url('ProximaNovaA-Light_2.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Light_2.woff') format('woff'),
        url('ProximaNovaA-Light_2.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Black_2.eot');
    src: url('ProximaNova-Black_2.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Black_2.woff') format('woff'),
        url('ProximaNova-Black_2.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaA-Thin_2.eot');
    src: url('ProximaNovaA-Thin_2.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaA-Thin_2.woff') format('woff'),
        url('ProximaNovaA-Thin_2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Extrabld.eot');
    src: url('ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Extrabld.woff') format('woff'),
        url('ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Extrabld_1.eot');
    src: url('ProximaNova-Extrabld_1.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Extrabld_1.woff') format('woff'),
        url('ProximaNova-Extrabld_1.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Bold.eot');
    src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Bold.woff') format('woff'),
        url('ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Bold_1.eot');
    src: url('ProximaNova-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Bold_1.woff') format('woff'),
        url('ProximaNova-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Bold_2.eot');
    src: url('ProximaNova-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Bold_2.woff') format('woff'),
        url('ProximaNova-Bold_2.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Regular.woff') format('woff'),
        url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Extrabld_2.eot');
    src: url('ProximaNova-Extrabld_2.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Extrabld_2.woff') format('woff'),
        url('ProximaNova-Extrabld_2.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaT-Thin.eot');
    src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaT-Thin.woff') format('woff'),
        url('ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular_1.eot');
    src: url('ProximaNova-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Regular_1.woff') format('woff'),
        url('ProximaNova-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Regular_2.eot');
    src: url('ProximaNova-Regular_2.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Regular_2.woff') format('woff'),
        url('ProximaNova-Regular_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaT-Thin_1.eot');
    src: url('ProximaNovaT-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaT-Thin_1.woff') format('woff'),
        url('ProximaNovaT-Thin_1.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNovaT-Thin_2.eot');
    src: url('ProximaNovaT-Thin_2.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaT-Thin_2.woff') format('woff'),
        url('ProximaNovaT-Thin_2.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

